.vscode/
*.ulg
*.bin
*.elf
*.map
Core/*/*/*/*/*/*/*
Core/*/*/*/*/*/*
Core/*/*/*/*/*
Core/*/*/*/*
Core/*/*/*
Core/*/*
Core/*
Drivers/*/*/*/*/*/*/*
Drivers/*/*/*/*/*/*
Drivers/*/*/*/*/*
Drivers/*/*/*/*
Drivers/*/*/*
Drivers/*/*
Drivers/*



