*.o
.DS_Store
*.uvopt
*.dep
.cproject
*.uvoptx
*.uvguix.*
Project/MDK-ARM(AC5)/DebugConfig
Project/MDK-ARM(AC5)/Listings
Project/MDK-ARM(AC5)/Objects
Project/MDK-ARM(AC5)/RTE
Project/EmbeddedStudio/Output
*.orig
*.scvd
*.ini
*.jlink
*.emSession
/**/JLinkLog.txt
Src/boot/version.h
.vscode/
*.bin
Project/EmbeddedStudio/gen_src